{% extends 'base.html' %}
{% block title %}- 메인{% endblock %}

{% block content %}

  <!--================Hero Banner Area Start =================-->
  <section class="hero-banner magic-ball">
    <div class="container">

      <div class="row align-items-center text-center text-md-left">
        <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
          <h1>언제나, 한결같이, 꼭 그렇게,</h1>
          <p>어디론가 떠나고는 싶은데 어딜 가야할지 잘 모르시겠다구요?<br>
            또바기는 여러분들에게 맞춤 여행지를 추천해드립니다! <br>
            나에게 꼭 맞는 여행지 찾으러 Go Go
          </p>
          <a class="button button-hero mt-4" href="{%url 'recommendApp:recommend_index' %}">여행지 추천 테스트 하러가기</a>
        </div>
        <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
          <img class="img-fluid" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/home/hero-img.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <!--================Hero Banner Area End =================-->


  <!--================Service Area Start =================-->
  <section class="section-margin generic-margin">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <img class="section-intro-img" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/home/section-icon.png" alt="">
        <h2>또바기만의 '자랑'</h2>
        <p>여러가지 흥미로운 코너들도 만나보세요~!</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="service-card text-center">
            <div class="service-card-img">
              <img class="img-fluid" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/home/service1.png" alt="">
            </div>
            <div class="service-card-body">
              <h3>커뮤니티</h3>
              <p>'또바기'에게 추천을 받아 여행을 다녀오신 분들의 후기 및 다양한 정보를 공유할 수 있는 수다방이 준비 되어있어요</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="service-card text-center">
            <div class="service-card-img">
              <img class="img-fluid" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/home/service2.png" alt="">
            </div>
            <div class="service-card-body">
              <h3>국내 여행지 순위</h3>
              <p><br>요즘 핫한 여행지는 어디?!<br></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="service-card text-center">
            <div class="service-card-img">
              <img class="img-fluid" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/home/service3.png" alt="">
            </div>
            <div class="service-card-body">
              <h3>유용한 링크</h3>
              <p>더 많은 정보가 궁금하시다구요? <br>  함께 보면 좋은 사이트들도 준비해두었습니다!!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================Service Area End =================-->


  <!--================About Area Start =================-->
  <section class="bg-gray section-padding magic-ball magic-ball-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-6 mb-4 mb-md-0">
          <div class="about-img">
            <img class="img-fluid" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/home/about-img.png" alt="">
          </div>
        </div>
        <div class="col-lg-5 col-md-6 align-self-center about-content">
          <h2>재밌는 질문들로 알아보는<br class="d-none d-xl-block"> 나만의 여행캐릭터! <br class="d-none d-xl-block"></h2>
          <p>또바기와 함께 나의 성격유형에 어울리는 여행지를 알아보아요</p>
          <a class="button" href="{%url 'c_type:index' %}">성격유형 테스트 하러가기</a>
        </div>
      </div>
    </div>
  </section>
  <!--================About Area End =================-->

  <!--================Tour section Start =================-->
  <section class="section-margin pb-xl-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="tour-card">
            <img class="card-img rounded-0" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/home/travel3.png" width="200" height="600" alt="">
            <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>우리나라의 하와이</h4>
                  <small>제주도 서귀포시</small>
                  <p>해외여행을 가는 듯한 기분!</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">"제주도"</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h2>사진으로 보는 <br>우리나라의 명소들</h2>
                <p>보기만 해도 벅차오르는,    어서 떠나고 싶지 않으신가요? </p>
              </div>
            </div>
          </div>

          <div class="tour-card">
            <img class="card-img rounded-0" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/home/travel2.png" alt="">
            <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>여름하면 떠오르는 곳</h4>
                  <small>부산광역시</small>
                  <p>해운대에서 여름나기</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">"부산"</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-7">
          <div class="tour-card">
            <img class="card-img rounded-0" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/home/travel1.png" alt="">
            <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>힐링이 필요할 땐</h4>
                  <small>전라남도 여수시</small>
                  <p>낭만적인 밤바다를 바라보며 소주 한 잔</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">"여수"</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5">
          <div class="tour-card">
            <img class="card-img rounded-0" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/home/travel4.png" width="100" height="300" alt="">
            <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>액티비티의 마을</h4>
                  <small>충청북도 단양군</small>
                  <p>가슴벅차는 풍경에서<br>패러글라이딩</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">"단양"</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================Tour section End =================-->


  <!--================Testimonial section Start =================-->
  <section class="bg-gray section-padding magic-ball magic-ball-testimonial pb-xl-5">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <img class="section-intro-img" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/home/section-icon.png" alt="">
        <h2>개발자 소개</h2>
        <p>컴퓨터공학과 졸업프로젝트</p>
      </div>


      <div class="owl-carousel owl-theme testimonial pb-xl-5">
        <div class="testimonial__item">
          <div class="row">
            <div class="col-md-3 col-lg-2 align-self-center">
              <div class="testimonial__img">
                <img class="card-img rounded-0" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/testimonial/t-slider1.png" alt="">
              </div>
            </div>
            <div class="col-md-9 col-lg-10">
              <div class="testimonial__content mt-3 mt-sm-0">
                <h3>Daniel heart</h3>
                <p>Project manager, Nestle</p>
                <p class="testimonial__i">Also made from. Give may saying meat there from heaven it lights face had is gathered god earth light for life may itself shall whales made they're blessed whales also made from give may saying meat. There from heaven it lights face had</p>
                <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial__item">
          <div class="row">
            <div class="col-md-3 col-lg-2 align-self-center">
              <div class="testimonial__img">
                <img class="card-img rounded-0" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/testimonial/t-slider1.png" alt="">
              </div>
            </div>
            <div class="col-md-9 col-lg-10">
              <div class="testimonial__content mt-3 mt-sm-0">
                <h3>Daniel heart</h3>
                <p>Project manager, Nestle</p>
                <p class="testimonial__i">Also made from. Give may saying meat there from heaven it lights face had is gathered god earth light for life may itself shall whales made they're blessed whales also made from give may saying meat. There from heaven it lights face had</p>
                <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial__item">
          <div class="row">
            <div class="col-md-3 col-lg-2 align-self-center">
              <div class="testimonial__img">
                <img class="card-img rounded-0" src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/img/testimonial/t-slider1.png" alt="">
              </div>
            </div>
            <div class="col-md-9 col-lg-10">
              <div class="testimonial__content mt-3 mt-sm-0">
                <h3>Daniel heart</h3>
                <p>Project manager, Nestle</p>
                <p class="testimonial__i">Also made from. Give may saying meat there from heaven it lights face had is gathered god earth light for life may itself shall whales made they're blessed whales also made from give may saying meat. There from heaven it lights face had</p>
                <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================Testimonial section End =================-->

  <script src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/js/jquery.ajaxchimp.min.js"></script>
  <script src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/js/mail-script.js"></script>
  <script src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/js/skrollr.min.js"></script>
  <script src="https://ddobagi.s3.ap-northeast-2.amazonaws.com/static/js/main.js"></script>
{% endblock %}